<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="EasyHttp" version="1.6.86.0" targetFramework="net45" />
  <package id="Edge.js" version="5.9.2" targetFramework="net45" />
  <package id="jQuery" version="3.0.0.1" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net45" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="PugViewEngine" version="0.0.2.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.8.2" targetFramework="net45" />
  <package id="RestSharp" version="105.0.1" targetFramework="net45" />
  <package id="Semantic" version="0.1" targetFramework="net45" />
  <package id="YouTrack.Rest" version="1.2.0" targetFramework="net45" />
  <package id="YouTrackSharp" version="2.0.30.0" targetFramework="net45" />
</packages>